
.jam{
    height: 80%;
    width: 100%;
}

.NEW{
    TOP : 50px;
}

.garis{
    width: 80px;
    margin-left: 620px;
}

.card-img-top{
    width: 900px;
}

.img-clock{
    width: 110%;
}

.drop {
    margin-left: 100px;
}

.nav{
    margin-left: 50px;
}

.napbar{
    margin-left: 500px;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: black;
  }

  .hr-lines{
    position: relative;
  }
  .hr-lines{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }

  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }


  body {
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}
  
.container {
    width: 100%;
    min-height: 200px;
 }
 
 body, html {
    height: 100%;
}

.hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:gray;
}

.home{
    text-align:100% ;
}